
            <div id="header">
                <!-- Need to keep one one line otherwise, blank lines are inserted and
                    this adds spaces before or after the <a> tag. -->
                <h1>
                    <a href="{{ .Site.BaseURL }}" id="logo">
                        {{- with .Site.Data.globalheader.image -}}
                            {{- if isset . "src" -}}
                                <img src="{{ .src | relURL }}"
                                    {{- with .width -}}
                                        {{ print " " | safeHTMLAttr }}width="{{- . -}}"
                                    {{- end -}}
                                    {{- with .height -}}
                                        {{ print " " | safeHTMLAttr }}height="{{- . -}}"
                                    {{- end -}}
                                    {{- with .alt -}}
                                        {{ print " " | safeHTMLAttr }}alt="{{- . -}}"
                                    {{- end -}}
                                >
                            {{- end -}}
                        {{- end -}}

                        <!-- Using "isset" instead of "with" to allow for empty string for the custom title. -->
                        {{- if isset .Site.Data.globalheader "title" -}}
                            {{- .Site.Data.globalheader.title | markdownify -}}
                        {{- else -}}
                            {{- .Site.Title -}}
                        {{- end -}}
                    </a>
                </h1>

                <nav id="nav">
                    <ul>
                        {{- range .Site.Menus.main }}
                        <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                            <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                            {{- if .HasChildren -}}
                            <ul>
                                {{- range .Children }}
                                <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                                    <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                                    {{- if .HasChildren -}}
                                    <ul>
                                        {{- range .Children }}
                                        <li class="{{ if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }}current{{ end }}">
                                            {{/* aoeu fix 'current' thing */}}
                                            <a href="{{ .URL | default "#" }}">{{ .Name }}</a>
                                        </li>
                                        {{- end }}
                                    </ul>
                                    {{- end -}}
                                </li>
                                {{- end }}
                            </ul>
                            {{- end -}}
                        </li>
                        {{- end }}
                    </ul>
                </nav>
            </div>
